#:schema node_modules/wrangler/config-schema.json
name = "serverless-apt-mirror"
main = "src/index.ts"
compatibility_date = "2024-09-25"
compatibility_flags = ["nodejs_compat"]

routes = [
  { pattern = "archive.example.com", custom_domain = true }
]

[observability]
enabled = true

[env.production]
r2_buckets = [{ binding = "APT_MIRROR_BUCKET", bucket_name = "apt-mirror-bucket-prod" }]

[env.production.vars]
ORIGIN_APT_SERVER = ""

[env.dev]
r2_buckets = [{ binding = "APT_MIRROR_BUCKET", bucket_name = "apt-mirror-bucket-dev" }]

[env.dev.vars]
ORIGIN_APT_SERVER = ""
